body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin: 0;
}

.game-container {
    background: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 5px solid #4CAF50; 
    transition: border-color 0.3s; 
}


button {
    padding: 10px 15px;
    background-color: #ee0a24;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; 
}



#result {
    margin-top: 15px;
    font-weight: bold;
    color: #333; 
}


#restartButton {
    background-color: #007bff;
}

#restartButton:hover {
    background-color: #0056b3;
}
