body{
    font-family: "Noto Serif Display",serif;
    font-family: "Noto Serif TC",serif;
    margin:0;
}

ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow:hidden;
    background-color: gray;
}
    li a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 16px;
    }
    li{
    display: inline;
    }
    li a:hover{
    background-color: black;
    }