html{
    height:100%;
}
body{
    height:100%;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    display:grid;
    justify-items:center;
    align-items:center;
    background-color: antiquewhite;
}
#main-holder{
    width:30%;
    height:70%;
    display:grid;
    justify-items:center;
    align-items: center;
    background-color:azure;
    border-radius:7px;
    box-shadow: 0px 0px 5px 2px black;
}

#login-error-msg-holder{
    width:80%;
    height:100%;
    display:grid;
    justify-items:center;
    align-items:center;
}

#login-error-msg{
    width:30%;
    text-align:center;
    margin:0;
    padding:5px;
    font-size: 12px;
    font-weight:bold;
    color:brown;
    border:1px solid brown;
    background-color: bisque;
    opacity:0;
}
#login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
    }

.login-form-field::placeholder {
     color: #5d5d5d;
}
.login-form-field {
     border: none; 
     border-bottom: 1px solid firebrick;
     margin-bottom: 10px; 
     border-radius: 3px; 
     outline: none; 
     padding: 0px 0px 5px 5px;
}

#login-form-submit {
width: 100%; 
padding: 7px; 
border: none; 
border-radius: 5px;
color: white; 
font-weight: bold;
background-color:black;
cursor: pointer;
outline: none;
}