
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
}


li {
    font-size: 18px;
    margin: 10px 0;
}


a {
    text-decoration: none;
    color: #1e90ff;
    font-weight: bold;
}

a:hover {
    color: #ff4500;
}


img {
    border: 2px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s;
}




.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px 0;
}
