body{
    background-image: url("./picture/newyear.jpg");
    font-family: 'Holtwood One SC', serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    font-display: column;
    align-items: center;
    justify-content: center;
    color: rgb(25, 29, 219);
    }
h1{
    font-weight:lighter;
    font-size: 6rem;
    margin-top: -20px;
}
        
.countdown-container{
    display: flex;
    flex-wrap: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin:1rem 2rem;
}
.countdown-container span{
    font-size: 1.5rem;
}
    